.header
  background: hsla(200, 50%, 60%)
  align-items: center



.ul
  margin: 20px 0
  padding: 0
  display: flex
  width: 500px
  justify-content: space-between
  @media (max-width: 575.99px)

  @media (max-width: 767.99px)
  @media (max-width: 991.99px)

  @media (max-width: 1199.99px)
    width: auto


.navBar
  display: block
  width: 50%
  margin-left: auto
  @media (max-width: 575.99px)
    width: 100%

  @media (max-width: 767.99px)
    width: 100%

  @media (max-width: 991.99px)
    margin: 0 auto
    width: 70%

  @media (max-width: 1199.99px)

.link
  text-decoration: none
  display: block

.li
  margin: 0 5px
  display: block
  
.with
  margin: 0 auto
  width: 80%
  display: flex
  background: rgba(212, 0, 0, 0.84)
  @media (max-width: 575.99px)
    width: 100%

  @media (max-width: 767.99px)

  @media (max-width: 991.99px)

  @media (max-width: 1199.99px)