.blockOne
  padding-top: 15px
  padding-left: 10px
  height: 450px
  background: pink

.blockTwo
  padding-top: 15px
  padding-left: 10px
  height: 400px
  background: #e0ffc0

.blockThree
  padding-top: 15px
  padding-left: 10px
  height: 450px
  background: #d3c0ff

.blockFour
  padding-top: 15px
  padding-left: 10px
  height: 300px
  background: #e9ffc0

.blockFive
  padding-top: 15px
  padding-left: 10px
  height: 450px
  background: #ffe1c0